<!DOCTYPE html>
<html>
<head>
  <title>Splowse</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="https://www.google.com/jsapi" type="text/javascript"></script>
  <script type="text/javascript">google.load("search", "1");</script>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'shared/header' %>

	<%= yield %>
	<div class="clear"></div>
	<div id="footer">
	</div>
</body>
</html>
